# Ignore everything in env/root_jupyter except the .gitignore file
/env/root_jupyter/*
!/env/root_jupyter/.gitkeep

# Ignore everything else in the project except specific files and directories
/env/root_jupyter/lab/
/workspace/*
!/workspace/.gitkeep
!.gitignore
