# Ignore everything in py3/root_jupyter except the .gitignore file
/py3/root_jupyter/*
!/py3/root_jupyter/.gitkeep

# Ignore everything else in the project except specific files and directories
/py3/root_jupyter/lab/
/workspace/*
!.gitignore
